<table>
<tr>
            <th>INR</th>
            <th></th>
            <th>33852.43</th>
            <th></th>

            <th>492.64</th>
            <th>6.24</th>
            <th>68.716365</th>
            <td align='right'>68.716365</td>
  </tr><tr>
            <th>MXN</th>
            <th></th>
            <th>6819.18</th>
            <th></th>

            <th>492.64</th>
            <th>6.24</th>
            <th>13.842116</th>
            <td align='right'>13.842116</td>
  </tr><tr>
            <th>CZK</th>
            <th></th>
            <th>9942.44</th>
            <th></th>

            <th>492.64</th>
            <th>6.24</th>
            <th>20.181958</th>
            <td align='right'>20.181958</td>
  </tr><tr>
            <th>BRL</th>
            <th></th>
            <th>1156.66</th>
            <th></th>

            <th>492.64</th>
            <th>6.24</th>
            <th>2.347881</th>
            <td align='right'>2.347881</td>
  </tr><tr>
            <th>NMC</th>
            <th></th>
            <th>195.49</th>
            <th></th>

            <th>492.64</th>
            <th>6.24</th>
            <th>0.396821</th>
            <td align='right'>0.396821</td>
  </tr><tr>
            <th>PLN</th>
            <th></th>
            <th>1485.26</th>
            <th></th>

            <th>492.64</th>
            <th>6.24</th>
            <th>3.014899</th>
            <td align='right'>3.014899</td>
  </tr><tr>
            <th>ZAR</th>
            <th></th>
            <th>5519.43</th>
            <th></th>

            <th>492.64</th>
            <th>6.24</th>
            <th>11.20378</th>
            <td align='right'>11.20378</td>
  </tr><tr>
            <th>USD</th>
            <th></th>
            <th>492.64</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>1.0</th>
            <td align='right'>1.0</td>
  </tr><tr>
            <th>IDR</th>
            <th></th>
            <th>5532626.22</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>11230.566377</th>
            <td align='right'>11230.566377</td>
  </tr><tr>
            <th>ILS</th>
            <th></th>
            <th>1735.38</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>3.522613</th>
            <td align='right'>3.522613</td>
  </tr><tr>
            <th>GBP</th>
            <th></th>
            <th>291.97</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>0.592664</th>
            <td align='right'>0.592664</td>
  </tr><tr>
            <th>DKK</th>
            <th></th>
            <th>2864.59</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>5.814773</th>
            <td align='right'>5.814773</td>
  </tr><tr>
            <th>CAD</th>
            <th></th>
            <th>546.86</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>1.11006</th>
            <td align='right'>1.11006</td>
  </tr><tr>
            <th>XRP</th>
            <th></th>
            <th>80750.57</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>163.913953</th>
            <td align='right'>163.913953</td>
  </tr><tr>
            <th>SEK</th>
            <th></th>
            <th>3292.46</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>6.683298</th>
            <td align='right'>6.683298</td>
  </tr><tr>
            <th>SGD</th>
            <th></th>
            <th>648.28</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>1.31593</th>
            <td align='right'>1.31593</td>
  </tr><tr>
            <th>HKD</th>
            <th></th>
            <th>3896.27</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>7.90896</th>
            <td align='right'>7.90896</td>
  </tr><tr>
            <th>AUD</th>
            <th></th>
            <th>545.32</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>1.106934</th>
            <td align='right'>1.106934</td>
  </tr><tr>
            <th>CHF</th>
            <th></th>
            <th>450.60</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>0.914664</th>
            <td align='right'>0.914664</td>
  </tr><tr>
            <th>KRW</th>
            <th></th>
            <th>0.00</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>0.0</th>
            <td align='right'>0.0</td>
  </tr><tr>
            <th>CNY</th>
            <th></th>
            <th>3127.90</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>6.349261</th>
            <td align='right'>6.349261</td>
  </tr><tr>
            <th>SLL</th>
            <th></th>
            <th>125623.93</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>255.001482</th>
            <td align='right'>255.001482</td>
  </tr><tr>
            <th>NZD</th>
            <th></th>
            <th>594.57</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>1.206906</th>
            <td align='right'>1.206906</td>
  </tr><tr>
            <th>THB</th>
            <th></th>
            <th>14982.59</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>30.412857</th>
            <td align='right'>30.412857</td>
  </tr><tr>
            <th>EUR</th>
            <th></th>
            <th>355.83</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>0.722292</th>
            <td align='right'>0.722292</td>
  </tr><tr>
            <th>LTC</th>
            <th></th>
            <th>39.63</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>0.080444</th>
            <td align='right'>0.080444</td>
  </tr><tr>
            <th>ARS</th>
            <th></th>
            <th>4938.64</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>10.024846</th>
            <td align='right'>10.024846</td>
  </tr><tr>
            <th>NOK</th>
            <th></th>
            <th>3025.11</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>6.14061</th>
            <td align='right'>6.14061</td>
  </tr><tr>
            <th>RUB</th>
            <th></th>
            <th>17841.82</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>36.216751</th>
            <td align='right'>36.216751</td>
  </tr><tr>
            <th>INR</th>
            <th></th>
            <th>33852.43</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>68.716365</th>
            <td align='right'>68.716365</td>
  </tr><tr>
            <th>MXN</th>
            <th></th>
            <th>6819.18</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>13.842116</th>
            <td align='right'>13.842116</td>
  </tr><tr>
            <th>CZK</th>
            <th></th>
            <th>9942.44</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>20.181958</th>
            <td align='right'>20.181958</td>
  </tr><tr>
            <th>BRL</th>
            <th></th>
            <th>1156.66</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>2.347881</th>
            <td align='right'>2.347881</td>
  </tr><tr>
            <th>NMC</th>
            <th></th>
            <th>195.49</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>0.396821</th>
            <td align='right'>0.396821</td>
  </tr><tr>
            <th>PLN</th>
            <th></th>
            <th>1485.26</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>3.014899</th>
            <td align='right'>3.014899</td>
  </tr><tr>
            <th>ZAR</th>
            <th></th>
            <th>5519.43</th>
            <th></th>

            <th>492.64</th>
            <th>322.36</th>
            <th>11.20378</th>
            <td align='right'>11.20378</td>
        </tr>
</table>